WeatherDAL/Connected Services/WeatherServiceReference/WeatherService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://azurewcf.cloudapp.net/WeatherService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WeatherWCFServiceWebRole" />
  <xs:element name="GetCurrentWeather">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sCountry" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sCity" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sLang" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentWeatherResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WeatherWCFServiceWebRole" minOccurs="0" name="GetCurrentWeatherResult" nillable="true" type="q1:WeatherDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlmanacWeather">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sCountry" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sCity" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sLang" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlmanacWeatherResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WeatherWCFServiceWebRole" minOccurs="0" name="GetAlmanacWeatherResult" nillable="true" type="q2:AlmanacDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>